In [11]:
import pandas as pd
import httpx
import json

In [5]:
url = "http://127.0.0.1:8000/data/"

In [6]:
latest = httpx.get(url + "latest")

In [14]:
content = json.loads(latest.content)

In [15]:
content.keys()

dict_keys(['date', 'records'])

In [21]:
records = content["records"]

In [35]:
pd.DataFrame.from_records(list(records.values())[0])

,UK nation,Cases reported in 2022 [note 2],Cases presumed acquired in the UK in 2023 to 2025,Cases presumed acquired outside the UK (imported) in 2023 to 2025,Cases awaiting classification in 2023 to 2025,Total (2022 to 2025)
0,England,3553,188,137,93,3971
1,Northern Ireland,34,5,3,0,42
2,Scotland,97,4,9,5,115
3,Wales,48,4,2,2,56
4,Total,3732,201,151,100,4184

In [36]:
date = "2025-01-09"

In [37]:
response = httpx.get(url + date)

In [39]:
cont = json.loads(response.content)

In [40]:
pd.DataFrame.from_records(list(cont["records"].values())[0])

,UK nation,Cases reported in 2022 [note 2],Cases presumed acquired in the UK in 2023 and 2024,Cases presumed acquired outside the UK (imported) in 2023 and 2024,Cases awaiting classification in 2023 and 2024,Total (2022 to 2024)
0,England,3553,182,129,95,3959
1,Northern Ireland,34,4,3,0,41
2,Scotland,97,4,8,4,113
3,Wales,48,3,2,0,53
4,Total,3732,193,142,99,4166